/*@Author: Emmanuel A.O

This file contains the styling for the Homepage of the Designers Dream Template, this
This files contents are outlined below.

 1.  HTML
 2.  Navbar
 3.  Head Image Area
 4.  Social Media Icons
 5.  PreSection
 6.  Content Area
 7.  Footer Frmat

 8.  Phone Format
 9.  Head Image Area
 10. Presction
 11. Content Area
 12. Footer Format

 13. Tablets and Ipads
 14. Content Image Hover
*/

/*1.HTML*/
* {
	margin: 0;
	padding: 0;
	font-family:Times New Roman;
	overflow-x: hidden;
}

/*2.Navbar*/
a.nav-link:hover {transition: 0.5s;}
.navbar-dark .navbar-nav .nav-link:hover {color:yellow;}
/*navbar structure*/
.navbar {
	opacity: 0.7;
	font-size: 20px; 
	font-weight: bold;
}

/*3.Head Image Area*/
.head {
	background: url(img/night.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 60vh;
	transition: 0.5s;
}
/*head text*/
.headText h1 {
	text-align: center;
	font-size: 120px;
	font-weight: bold;
	color: black;
	padding: 150px 0 0 0;
	transition: 0.5s;
}
/*headtext hover*/
.headText h1:hover {
	font-size: 125px;
	color: yellow;
}

/*4.Social Media Icons*/
.smedia {
	position: absolute;
	padding-left: 20px;
	top: 50vh;
	list-style: none;
}
/*.smedia li {margin: 10px;}*/
.smedia img {background-color: white;}
.smedia img:hover {background-color: yellow;}

/*5.Presection*/
#presection{	
	text-align: center;
	justify-content: center;
	padding: 8px 0 2px 0;
	background-color: #060c21;
	color: white;
	font-size: 17px;
}

/*6.Content Area*/
/*button area*/
.buttonArea {
	text-align: center;
	background: #10283E;
}
/*content structure*/
.flexbox-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: #10283E;	
}
.flexbox-item {
	margin: 40px;
	filter: drop-shadow(1px 1px 8px grey);
}
/*content image*/
.flexbox-item img {
	width: 290px;
	height: 300px;
	border-radius: 10px;
	transition: 0.8s;
}
/*image hover*/
.flexbox-item:hover img {
	border-radius: 1px;
	width: 355px;
	height: 365px;
}
/*content text*/
.flexbox-item p {
	width: 295px;
	height: 100px;
	padding-left:10px;
	padding-top:10px;
	font-size: 15px;
	color: lightgrey;
	transition: 0.8s;
}
/*text hover*/
.flexbox-item:hover p {
	width: 360px;
	height: 150px;
	font-size: 18px;
	color: white;
}

/*7.Footer Format*/
.footer {
	justify-content: space-between;
	text-align: center;
	display: flex;	
	width: 100%;
	padding: 30px;
	color: white;
	background-color: #060c21;
}
/*footer text*/
.footer a {color: white; font-size: 18px;}
/*social media icons*/
.smediaFooter {margin: 10px;}
.smediaFooter img { 
	background-color:white; 
	padding:10px; 
	transition:0.3s;
}
.smediaFooter img:hover {padding: 13px;}
/*footer button*/
.button {padding: 15px;}


/*8.Phone Format*/
@media (max-width: 700px) {
/*9.HeadImage Area*/
.head {
	background: url(img/night.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 60vh;
	transition: 0.5s;
	box-shadow: 0 0 8px 10px #10283E inset;
}
/*head text*/
.headText h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: black;
	padding: 150px 5px 80px 5px;
	transition: 0.5s;
}
/*head text hover*/
.headText h1:hover {
	font-size: 55px;
	color: yellow;
}

/*Phone Format*/
/*10.Presection*/
#presection{	
	padding: 8px 2px 2px 2px;
	font-size: 14px;
}

/*Phone Format*/
/*11.Content Area*/
.buttonArea {
	text-align: center;
	background: #10283E;
}
/*Phone Format*/
/*Content*/
.flexbox-item {
	margin: 20px 10px 10px 10px;
	filter: drop-shadow(1px 1px 8px grey);
}
/*content image*/
.flexbox-item img {
	width: 280px;
	height: 290px;
	border-radius: 10px;
	transition: 0.8s;
}
/*content image hover*/
.flexbox-item:hover img {
	width: 280px;
	height: 290px;
	border-radius: 10px;
}
/*content text*/
.flexbox-item p {
	width: 280px;
	height: 100px;
	padding-left:5px;
	padding-top:10px;
	font-size: 15px;
	color: lightgrey;
	transition: 0.8s;
}
/*text hover*/
.flexbox-item:hover p {
	width: 290px;
	height: 200px;
	font-size: 17px;
	color: white;
}

/*Phone Format*/
/*12.Footer Format*/
.footer {
	justify-content: space-around;
	text-align: center;
	display: flex;
	width: 100%;
	padding: 16px;
	color: white;
	background-color: #060c21;
}
/*social media icons*/
.footer a {
	font-size: 15px;
}
/*Phone Format*/
/*social media icons*/
.smediaFooter {
	display: none;
}
}


/*13.Tablets and Ipads*/
@media (min-width: 761px) and (max-width: 1220px) {
	/*14.Content Image Hover*/
.flexbox-item:hover img {
	width: 290px;
	height: 300px;
	border-radius: 10px;
}
}