* {
	margin: 0;
	padding: 0;
	font-family:Times New Roman;
	overflow-x: hidden;
}
/*Navbar & ImageHead*/
a.nav-link:hover {transition: 0.5s;}
.navbar-dark .navbar-nav .nav-link:hover {color:#197CEC;}

.head {
	background: url(img/head.jpg) no-repeat center center;
	background-size: cover;
	filter: brightness(99%);
	width: 100%;
	height: 100vh;
	transition: 0.5s;
}
.headText h1 {
	text-align: center;
	font-size: 115px;
	font-weight: bold;
	color: black;
	padding: 200px 10px 0 0;
	transition: 0.5s;
}
.headText h1:hover {
	font-size: 122px;
	color: #197CEC;
}
/*Social Media Icons*/
.sci {
	padding: 30px;
	margin-top: 50px;
	list-style: none;
}
.sci li {margin: 10px;}

/*ICONS*/
#icons {
	display: flex;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	margin: 70px;
}
#icons h5 {padding: 15px;}
.icon {margin: 15px; opacity: 0.8;}
.icon:hover {transition: 0.5s; opacity: 1;}

/*First Section*/
#body1 {
	display: flex;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}
#body1 .left1 {
	background: url(img/laptop.png) no-repeat center center;
	background-size: cover;
	height: 400px;
	width: 60%;
	transition: 0.5s;
}
#body1 .left1:hover {
	height: 390px;
}
#body1 .left1 #text {	
	font-size: 40px;
	color: green;
	margin-left: 290px;
	margin-top: 17px;
	transition: 0.6s;
}
#body1 .right1 {
	width:35%;
	height: 400px;
	margin: 10px;
	padding: 25px;
	text-align:center;
}
#body1 .right1 h1 {
	text-transform: uppercase;
	font-size: 37px;
	color: #44c767;
	padding: 10px;
	letter-spacing: 2px;
}

/*Second Section*/
#body2 {
	display: flex;
	padding: 20px;
	transition: 0.5s;
}
#body2 .left2 {
	width:35%;
	height: 400px;
	padding-left: 30px;
	padding-right: 30px;
	text-align:center;
}
#body2 .left2 h1 {
	text-transform: uppercase;
	font-size: 37px;
	margin: 40px 15px;
	letter-spacing: 2px;
}
#body2 .right2 {
	background: url(img/camera.png) no-repeat center center;
	background-size: cover;
	margin: 20px;
	height: 400px;
	width: 60%;
	transition: 0.5s;
}
#body2 .right2:hover {
	height: 410px;
}

/*Third Section*/
#body3 {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 50px;
}
#body3 img {padding: 15px;}
.offer1 ul,.offer2 ul,.offer3 ul{
	font-size: 30px;
	list-style: none;
	padding: 0 18px 18px;
	transition: 0.8s;
}
.offer1 ul:hover,.offer2 ul:hover,.offer3 ul:hover {color: white; }

.offer1 h5,.offer2 h5,.offer3 h5{font-weight:bold; font-size:25px;}
.offer1 {
	margin: 15px;
	background-color: lightblue;
	border: 1px solid;
	border-radius: 10px;
	padding: 0 0 18px;
	filter: drop-shadow(4px 4px 4px black);
}
.offer2 {
	margin: 15px;
	background-color: pink;
	border: 1px solid;
	border-radius: 10px;
	filter: drop-shadow(6px 6px 7px black);
}
.offer3 {
	margin: 15px;
	background-color: #44c767;
	border: 2px solid;
	border-radius: 10px;
	filter: drop-shadow(8px 8px 10px black);
}
/*Footer Format*/
.footer {
	justify-content: space-between;
	text-align: center;
	display: flex;	
	width: 100%;
	padding: 20px;
	color: white;
	background-color: #1d2124;
}
.footer a {color: white; font-size: 18px;}
/*social media icons*/
.sciFooter {margin: 10px;}
.sciFooter img { background-color: white; padding: 10px;}
.sciFooter img:hover {padding: 13px;}

.button {margin: 10px;}

